@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-blue: #64CFF7;
  --button-blue: #85D5FC;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav {
  font-family: 'Outfit', sans-serif; /* Apply Outfit font globally */
}

h1 {
  font-size: 96px;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}