.heroSection {
  position: relative;
  height: 90vh;
  width: 100%;
  background-image: url('/images/header-background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0px 125px;
}
