@import "../mixins.scss";

.grid {
  display: grid;
  columns: 12;
  column-gap: 24px;
  margin: 0px 125px;
}

.heroSection {
  position: relative;
  height: 95vh;
  width: 100%;
  background-image: url("/images/header-background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 64px;
  margin-top: 64px;
}

.clearContent {
  margin: 0px auto;
  padding: 0px 125px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  box-sizing: border-box;

  @include xxs {
    padding: 0px 28px;
  } 

  @include xs {
    padding: 0px 64px;
  } 

  @include sm {
    padding: 0px 64px;
  }
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 columns for services
  gap: 32px;
  width: 100%;
  align-items: stretch;

  @include xxs {
    gap: 24px;
  }

  @include xs {
    gap: 24px;
  }

  @include sm {
    gap: 24px;
  }
}

.servicesGridItem {
  grid-column: span 1;

  @include xxs {
    grid-column: span 3;
  } 

  @include xs {
    grid-column: span 3;
  } 

  @include sm {
    grid-column: span 3;
  }
}
