.navbar {
  padding: 28px 0px; 
  margin: 0px 125px;
  background-color: transparent;
  color: black;

  ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: flex-end;
  }

  li {
    list-style: none;
  }

  a {
    color: white;
    text-decoration: none;
  }
}